<div class="ui inverted footer">
    <div class="ui container">
        <div>
            <button class="ui button">One</button>
            <button class="ui button">Two</button>
          </div>
    </div>
</div