<!-- <div class="ui inverted footer">
    <div class="ui container">
        <div>
            <button class="ui button">One</button>
            <button class="ui button">Two</button>
          </div>
    </div>
</div -->
<div class="ui menu" style="background-color: #797979; color : #FFFFFF; margin-top:3em ">
    <div style=" margin-left:1%;"> <button class="ui button">One</button>  </div>
    <div style=" margin-left:80%;"> <button class="ui button">Two</button> </strong>  </div>  
</div>