<div style="margin-top: 0.8em;">
    <button class="ui black basic button">< GO TO TASK LIST</button>
    <button class="ui black basic button " style="margin-left:1%;">CANCEL</button>

    <div class="ui small image" style="height: 33px; margin-left: 20%; margin-top:-1em;">
        <img src="../static/renault_nissan_logo.png">
    </div>           

    <button class="ui blue disabled button" style="margin-left:25.7%;">PREVIOUS</button>
    <button class="ui blue button" style="margin-left:1%;">NEXT</button>

</div>