<div class="ui menu" style="background-color: #797979; color : #FFFFFF">
      <div style="margin-top: 0.85%; margin-left:1%;"> <strong> <%= hdr.templn %> | <%= hdr.station %> </strong>  </div>
      <div  style="margin-top: 0.85%; margin-left:80%;"> <strong> <%= hdr.currno %>/<%= hdr.totno %> </strong>  </div>  
</div>
