<div class="column" style="border-right: 1px solid #707070; ;">
    <strong style="margin-top:-1em">REFERENCE DIAGRAM</strong>
    <div class="ui placeholder segment" style="height: 30em; width: 27.5em; border : none">
        <div class="ui icon header">
        IMAGE AREA
        </div>
    </div>
</div>