<strong style="margin-top:-1em">MARK YOUR QUALITY CHECK RESULT HERE</strong>
<div class="ui center aligned grid" >
    <div class="left floated right aligned six wide column">
        <div class="ui segment center aligned" style="width:25em; height:8em;">
            <p style="margin-top: -0.5em;">LABEL 1</p><br>
            <!-- <div class="line" style="margin-top: -9%;"></div> -->
            <input type="text" size="40%" placeholder="Type Here" class="textInput">
        </div>
    </div>
    <div class="right floated left aligned six wide column">
        <div class="ui segment center aligned" style="margin-left:-5.5em; width:25em; height:8em;">
            <p style="margin-top: -0.5em;">LABEL 2</p><br>
            <!-- <div class="line" style="margin-top: -9%;"></div> -->
            <input type="text" size="40%" placeholder="Type Here" class="textInput">
        </div>
    </div>

    <div class="sixteen wide column">
        <div class="ui segment" style="height: 8em;">
            <p>Comment</p>
            <textarea class="textArea" placeholder="Type Here"></textarea>
        </div>
    </div>

    <div class="sixteen wide column">
        <div class="ui segment" style="height: 8em;">
            JUDGEMENT <br>
            <div style="margin-top: 1%;">
                <button class="ui black basic button" >
                    <span class="material-symbols-outlined">done</span>
                </button>
                <button class="ui black basic button" style="margin-left:1%;">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>                        
        </div>
    </div>
</div>