<div style="margin-top: 0.05%;">
    <div style="margin-left:0.1%;"> <strong> PROCESS NAME </strong> : <%= //bdy.procn %> </div>
    <div style="margin-top:-1.70% ;margin-left:55%;"> <strong> CHECK LOCATION </strong> : <%= //bdy.chnloc %> </div> 
</div>
<div class="line"></div>
<div>
    <h5>CHECK DETAILS</h5>
    <p style="margin-top:-1.10% ;"><%= //chndta %> </p>
</div>
<div class="line"></div>